<% @songs.each do |song| %>
  <div class="song">
    <h3><%= song.song_title %>, <%= song.artist %></h3>
    <small>(Posted by: <%=song.author %>)</small>
    <p>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>
<a href="/songs/new">Think you're a music guru? Post a song of your own!</a>