<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.song_title %></a></h3>
    <small>(Posted by: <%=song.author %>)</small>
    <p>
      <a href="<%= song.url %>"><%= song.url %></a>
    </p>
  </div>
<% end %>
<a href="/songs/new">Think you're a music guru? Post a song of your own!</a>