<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.song_title %></a></h3>
    <small>Posted by: <%=song.author %> on <%= song.created_at%></small>
    <br>
    <form method="POST" action="/likes">
    <input type="hidden" name="song_id" value="<%= song.id%>">
      <button class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
      </button>
    </form>
    <p>Total Likes: <%= song.likes %></p>
  </div>
<% end %>
<br>
<a href="/songs/new">Think you're a music guru? Post a song of your own!</a>